<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Painel do Administrador</title>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
    <div class="container">
        <h2>Painel do Administrador</h2>

        <div th:replace="~{fragments/alert}"></div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Clientes Cadastrados
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${#lists.size(clientes)}"></h5>
                        <p class="card-text">Número total de clientes no sistema.</p>
                        <a th:href="@{/cliente/listar}" class="btn btn-primary">Ver Clientes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Lojas Cadastradas
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${#lists.size(lojas)}"></h5>
                        <p class="card-text">Número total de lojas de veículos no sistema.</p>
                        <a th:href="@{/loja/listar}" class="btn btn-primary">Ver Lojas</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>