<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${veiculo.id == null} ? #{veiculo.cadastrar.label} : #{link.editar.label} + ' ' + #{sidebar.titulo.livro}"></title>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
    <div class="container">
        <h2 th:text="${veiculo.id == null} ? #{veiculo.cadastrar.label} : #{link.editar.label} + ' ' + #{sidebar.titulo.livro}"></h2>

        <div th:replace="~{fragments/alert}"></div>
        <div th:replace="~{fragments/validacao}"></div>

        <form th:action="${veiculo.id == null} ? @{/veiculos/salvar} : @{/veiculos/editar}" th:object="${veiculo}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{loja.id}" />

            <div class="form-group row">
                <label for="placa" class="col-sm-2 col-form-label" th:text="#{veiculo.placa.label}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="placa" th:field="*{placa}" th:placeholder="#{veiculo.placa.label}"
                           th:classappend="${#fields.hasErrors('placa')} ? 'is-invalid'">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="modelo" class="col-sm-2 col-form-label" th:text="#{veiculo.modelo.label}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="modelo" th:field="*{modelo}" th:placeholder="#{veiculo.modelo.label}"
                           th:classappend="${#fields.hasErrors('modelo')} ? 'is-invalid'">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="chassi" class="col-sm-2 col-form-label" th:text="#{veiculo.chassi.label}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="chassi" th:field="*{chassi}" th:placeholder="#{veiculo.chassi.label}"
                           th:classappend="${#fields.hasErrors('chassi')} ? 'is-invalid'">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('chassi')}" th:errors="*{chassi}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="ano" class="col-sm-2 col-form-label" th:text="#{veiculo.ano.label}"></label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="ano" th:field="*{ano}" th:placeholder="#{veiculo.ano.label}"
                           th:classappend="${#fields.hasErrors('ano')} ? 'is-invalid'">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="quilometragem" class="col-sm-2 col-form-label" th:text="#{veiculo.quilometragem.label}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="quilometragem" th:field="*{quilometragem}" th:placeholder="#{veiculo.quilometragem.label}"
                           data-mask="000.000" data-mask-reverse="true"
                           th:classappend="${#fields.hasErrors('quilometragem')} ? 'is-invalid'">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('quilometragem')}" th:errors="*{quilometragem}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="descricao" class="col-sm-2 col-form-label" th:text="#{veiculo.descricao.label}"></label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="descricao" th:field="*{descricao}"
                              th:placeholder="#{veiculo.descricao.label}" rows="5"
                              th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="valor" class="col-sm-2 col-form-label" th:text="#{veiculo.valor.label}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="valor" th:field="*{valor}"
                           data-mask="000.000.000.000,00" data-mask-reverse="true" th:placeholder="#{veiculo.valor.label}"
                           th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="photos" class="col-sm-2 col-form-label" th:text="#{veiculo.fotos.label} + ' (Max 10)'"></label>
                <div class="col-sm-10">
                    <input type="file" class="form-control-file" id="photos" name="photos" multiple accept="image/*">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('photos')}" th:errors="*{photos}"></div>
                    <div th:if="${veiculo.id != null and veiculo.fotosUrls != null}">
                        <div th:each="photoUrl : ${veiculo.fotosUrls}" class="d-inline-block m-2">
                            <img th:src="@{${photoUrl}}" style="width: 100px; height: 100px; object-fit: cover;" alt="Foto do Veículo"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary" th:text="#{button.salvar.label}">Salvar</button>
                    <a th:href="@{/veiculos/meus-veiculos}" class="btn btn-secondary" th:text="#{button.cancelar.label}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>