<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{403.error}"></title>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
    <div class="container text-center">
        <h1 class="h3 mb-3 font-weight-normal">
            <i class="oi oi-warning"></i>
            <span th:text="#{403.error}"></span>
        </h1>
        <p class="lead" th:text="#{403.message}"></p>
        <a class="btn btn-primary" type="button" href="javascript:history.back()" th:text="#{previous.message}"></a>
    </div>
</section>
</body>
</html>